#navigation {
  max-height: 330px;
  background-color: #DFF8F0;
  border: none;
}

#curious {
  height: 370px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.links {
  font-size: 120px;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
}

#subtitle {
  padding-left: 130px;
  font-size: 50px;
}

#title {
  margin-top: 12px;
  /*background-image: url("http://3.bp.blogspot.com/-vf0haA5hX1Q/T3lPiQV8tKI/AAAAAAAAAtM/tD2MbzsCDwY/s1600/curious+cat.jpg");
  background-position: 20% 70%;
  background-size: cover;*/
}

body {
  font-family: 'Arsenal', sans-serif;
  /*font-weight: bolder;*/
  font-size: 26px;
  background-color: #DFF8F0;
}

button {
  font-size: 20px;
  background-color: #CCD1F9;
  border: solid 5px white;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Arsenal', sans-serif;
font-family: 'Advent Pro', sans-serif;
