<nav id="navigation" class="navbar navbar-default">
  {{#link-to 'index' class="nav-home"}}<span class="links puddle">Qs and As</span>{{/link-to}}
</nav>
<div class="container">
  {{outlet}}
</div>
<footer>
</footer>
