<h2>Questions for curious minds (and know-it-alls)</h2>

<ol>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ol>

{{new-question saveQuestion="saveQuestion"}}

<h2> All Answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer-tile answer=answer}}</li>
  {{/each}}
</ul>
